h1 {
    font-family: Dancing Script;
    font-size: 50px;
	text-align: center;
    color: #483434;
    margin-top: 0%;
    padding-top: 5%;
	position:relative;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
    margin-top: 0%;
}

label, input, button {
	margin: 5px;
}

input[type="text"] {
	padding: 5px;
}
input[type="text"]:hover {
	background-color:#6B4F4F ;
	color:white;
}

button[type="submit"] {
	padding: 5px;
    margin-bottom: 5%;
    background-color: #D8D9CF;
}
button[type="submit"]:hover
{
   background-color: #FFD5AB;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 5px;
	display: flex;
	align-items: center;
	font-family:Dancing Script ;
	font-size: larger;
}

li span {
	margin-right: 5px;
}

li button {
	margin-left: 10px;
	background-color: #D8D9CF;
}
li button:hover{
	background-color: #FFD5AB;
}
li checkbox:hover{
	color: #FFD5AB;
}

body{
    border: none;
    margin: 0%;
    background-color: #FFF3E4;
}

.bg
{
    margin-bottom: 5%;
    background-color: #EED6C4;

}
.ask{
	font-family:Inconsolata;
	font-weight: bolder;
}
.topc
{
	position:absolute;
	left: 200px;
	width:200px;height:200px;margin-right:15px;
}
.bottom{
position: absolute;
right: 100px;
bottom: 100px;
width:200px;height:200px;

}

@media (max-width: 629px){
    img{
    display: none;
  }
}
